{{ define "main" }}
<main role="main" class="container">
    <h1 class="mt-5">Info for Watching Peaches!</h1>
    <p class="lead">Thanks for watching Peaches. This section will be completed before you ever read this.</p>
    <p>This section will include lots of helpful information.</p>
</main>
{{ end }}